:8080 {
  encode zstd gzip
  handle /healthz {
    rewrite * /login_page.php
    reverse_proxy 127.0.0.1:8000 {
      header_up X-Forwarded-Proto {$PUBLIC_SCHEME:https}
    }
  }
  handle {
    reverse_proxy 127.0.0.1:8000 {
      header_up X-Forwarded-Proto {$PUBLIC_SCHEME:https}
    }
  }
}
